.jumbotron
  %h1 Wonderpedia
  %p A community-sourced collaboration platform.
  %p
    = link_to "Sign In", new_user_session_path, class: 'btn btn-primary'
    or
    = link_to "Sign Up", new_user_registration_path, class: 'btn btn-primary'
.row
  %h3
    This is the place where you can post a wiki for a hobby or work-related project. Wonderpedia allow you to create your own wikis and share them publicly or privately with other collaborators.
.row
  .h4
    For $15, you can get a lifetime premium membership!
    .br
    Sign up and then upgrade your membership.
    .br
    Why become premium?
    .ul You can create private wiki and collaborate with other
    .ul users to make your wiki more awesome!