=form_for wiki do |f|
  .form-group
    =f.label :title, 'title'
    =f.text_field :title, class: 'form-control', placeholder: "Enter wiki title"
  
  .form-group
    =f.label :body, 'wiki'
    #epiceditor
      =f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter wiki description"
  -if current_user.premium == true  
    .form-group
      =f.label :private, 'private'
      =f.check_box :private
      %p.help-block Set this as a private wiki

  =f.submit "Save", class: 'btn btn-success'